.booking-page {
    padding: 50px;
    text-align: center;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .booking-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .booking-form button {
    padding: 10px;
    background-color: #f8b400;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #333;
    color: #f8b400;
  }